# workflow  criado para o projeto calculadora web

name: calc_web

# controla quando o workflow irá ser executado
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # dispara fluxo de trabalho quando for executado um push ou um evento  ou uma  ação de pull request somente para a branch main
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  # permite voce executar esse workflow manualmente na aba actions
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
# o workflow é composta por um ou mais trabalhos que podem estar rodando sequencialmente ou em paralelo
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
